<!-- Footer -->
<footer class="footer dark-mode bg-dark border-top border-light pt-3 pb-3 pb-lg-3">
  <div class="container pt-lg-1">
    <div class="row pb-1 text-center">
      <span>
        2023 -
        <script>document.write(new Date().getFullYear())</script> © <%= appName %> - <%= appVersion %>
      </span>
    </div>
  </div>
</footer>

<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>